.container-fluid {
    display: contents;
}

.container {
    display: contents;
}

.navbar {
    background-color: #DBFAB4;
}    

.navbar-brand {
    text-align: center;
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
}    

.nav-item {
    
    text-align:center; 
    
}  

.nav-link {
    font-family: 'Albert Sans', sans-serif;
}

.logo {
    width: 10rem;
}

select {
    font-family: 'Albert Sans', sans-serif;
}

h1{
    font-family: 'Satisfy', cursive;

}

.card-title {
   font-family: 'Delicious Handrawn', cursive;
    text-align: center;
    font-size: 2rem;
}

.card-text {
    font-family: 'Albert Sans', sans-serif;
}

strong {
    font-family: 'Albert Sans', sans-serif;
    font-size: 100%;
}

.text-uppercase {
    font-weight:bold;
    text-align: center;
  }

  .btn{
    border-radius: 50%;
  }

  footer {
    font-family: 'Albert Sans', sans-serif;
  }