@media only screen and (min-device-width: 280px) and (max-device-width: 653px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {


.caption{
  width: 50%;
  position:relative;
}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {


  .caption{
    padding: 13% 7% 10% 7%;
    margin-right: 25%;
  }

  
}


@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
 
  .caption{
    padding: 13% 7% 10% 7%;
    margin-right: 25%;
  }


}

@media only screen and (min-device-width: 1024px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
 .caption{
  width: 75%;
 }
}

.container-fluid {
  display: contents;
}

.container {
  display: contents;
}

p{
  font-family: 'Albert Sans', sans-serif;
  text-align: center;

}  

.btn {
  border-radius: 50%;
}

.logo {
    width: 10rem;

}    
.carousel {
    margin-bottom: 5%;
    display: flex;
}    

.carousel-item {
    height: 40rem;
}    

.brief-description {
  margin-top: auto;
}  

.navbar {
    background-color: #DBFAB4;
}    

.navbar-brand {
    text-align: center;
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
}    

.nav-item {
   
    text-align:center;
    

}    

.fta-list  {
  font-family: 'Albert Sans', sans-serif;
  text-align: center;
  list-style: none;
}  

.caption {
  font-family: 'Albert Sans', sans-serif;
  font-size: 25px;
}  

.caption:before {
    content: attr(title);
    display: block;
  }  



  h1, h2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Satisfy', cursive;
  }  

 .to-do-list {
    text-align: center;
    padding: 0;
  }  
  
  .caption {
    width: 25%;
    flex-wrap: wrap;
    vertical-align: top;
    display: inline-block;
    font-family: 'Delicious Handrawn', cursive;
  }  
  
  .caption img {
    width: 10rem;
    height: auto;
    display: inline-flex;
    margin-bottom: 10%;
    
  }  

  .text-uppercase {
    font-family: 'Albert Sans', sans-serif;
    font-weight:bolder;
    text-align: center;
  }